@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'Instrument Sans', sans-serif;
  background-color: #2c3333;
  color: #e7f6f2;
  letter-spacing:0.4px;
}

li{
  list-style-type: none;
}

main{
  width: min(100% - 30px, 1200px);
  margin:auto;
}

/* 
=====================================================

  SEARCH

=====================================================
*/

.searchpage{
  height:120px;
  position:absolute;
  text-align:center;
  margin:auto;
  inset: 0;
  
}

.searchpage h1{
  font-size:36px;
  font-weight:600;
  letter-spacing:0.7px;
  margin-bottom: 6px;
}

.searchpage{
  width:360px;
}

.searchpage h2{
  padding:4px 0 0 4px ;
}

input{
  display: inline-block;
  height:34px;
  padding: 0 12px;
  border-radius: 5px;
}

input[type=text]{
  background-color: #e7f6f2;
  width:270px;
  margin-right:4px;
}


h2.error-message{
  font-size:14px;
  font-weight: 500;
  margin:0;
  position:absolute;
}

input[type=submit], button{
  text-transform:uppercase;
  background-color:#4ca3a7;
  color: #e7f6f2;
  font-weight: 500;
  display: inline-block;
  transition: all 0.1s ease-in-out;
}

input[type=submit]:hover, button:hover{
  background-color: #478697;
}

input[type=submit]:disabled{
  background-color: #4c6166;
  color: #9eb4ae;
  cursor:default;
}


/* 
=====================================================

  USER

=====================================================
*/

.user-container{
  margin:auto;
  width:360px;
  text-align:center;
  padding: 40px 0;
}

.userbox{
  width:120px;
  border-radius: 100%;
  height:120px;
  margin-bottom:20px;
  margin:auto;
  overflow:hidden;
}

.userbox img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.user-container h1{
  margin-top: 20px;
  /* border: 1px solid blue; */
  font-weight:600;
  line-height:26px;
}

.user-container ul{
  display:flex;
  justify-content: space-around;
  flex-direction:row;
}

.user-container ul li{
  margin:14px 0 24px 0;
  display:block;
  text-align:center;
  text-transform:uppercase;
}

.user-container ul li h3{
  color: #ba71ff;
  font-size:16px;
}

.user-container ul li p{
  font-size:12px;
}

button{
  transition: all 0.4s ease-in-out;
  padding:10px 20px;
  border-radius: 25px;
  letter-spacing:0.6px;
}

/* 
=====================================================

  REPOS

=====================================================
*/

section.repos{
  width:900px;
  margin:auto;
  margin-bottom:20px;
  padding:0 20px;
}

.repos h3{
  font-weight:600;
}

#norepos{
  text-align:center;
  color:#a5c9ca;
}

.repository{
  background-color: #395b64;
  padding:18px 24px 0 24px;
  height:78px;
  border-radius:12px;
  display:flex;
  margin:8px 0px;
  transition: all 0.1s ease-in-out;
}

.repository:hover{
  background-color: #2b4a53;
}

.repoleft{
  width:100%;
}

.repoleft h4:hover{
  text-decoration:underline;
  cursor:pointer;
}

.weaktext{
  color: #a5c9ca;
}

.reporight{
  text-align:right;
  width:30%;
  font-size:10px;
}

.repoleft h4{
  color: #ba71ff;
  line-height:1.24;
}

.repoleft p{
  font-size:14px;
}

.repos ul{
  padding-bottom:1px;
}